.hero-head {
  background-color: #3298dc;
  border-bottom: 1px solid grey;
}

.banner-wrap img {
  width: 100%;
}

.navbar-brand.level {
  margin-bottom: 0;
}
.navbar-brand.level .level-right {
  margin-top: 0;
}

.second-title {
  font-size: 20px;
  margin: 20px auto 35px;
}

.last-section {
  padding-bottom: 30px;
}

.hero-body p {
  margin: 18px 0;
}

h1.title {
  background: url('/assets/images/bigbanner.jpg') center center; background-size: cover;
  height: 200px;
}

.container h2.subtitle {
  padding-top: 0;
}


