





/* From c1.css */


.hero-head {
  background-color: #3298dc;
  border-bottom: 1px solid grey;
}

.banner-wrap img {
  width: 100%;
}

.navbar-brand.level {
  margin-bottom: 0;
}
.navbar-brand.level .level-right {
  margin-top: 0;
}

.hero .hero-body {
  padding-top: 10px;
}

.hero .hero-body .slogan {
  margin-bottom: 50px;
}

  /*
.second-title {
  font-size: 20px;
  margin: 50px auto ;
  padding: 0 0 30px;
}
  */

.container .image.container {
  margin: 40px 0 30px;
}

.last-section {
  padding-bottom: 30px;
}

.hero-body p {
  margin: 18px 0;
}

.container h2.subtitle {
  padding-top: 0;
}

.statistic {
  margin-top: 50px !important;
  margin-bottom: 10px !important;
}

.wy-category {
  background: #fff;
  border-radius: 10px;
  padding: 30px 12px;
}

.wy-category .icon-wrap {
  margin-right: 20px;
}

.wy-category .icon-wrap img {
  width: 40px;
  height: 40px;
}

.wy-category .cate-name {
  color: #000;
  font-size: 20px;
  font-weight: 500;
}

.wy-category .number-wrap .number-daren {
  color: #000;
  font-size: 18px;
}

.wy-category .number-wrap .label-daren {
  color: grey;
  font-size: 16px;
}


