.hero-head {
  background-color: #3298dc;
  border-bottom: 1px solid grey;
}

.title-outside {
  margin-bottom: 50px;
}

.tutors-wrap figure img {
  border-radius: 50%;
}

/** from c1.css, todo: remove extra */

.second-title {
  font-size: 20px;
  margin: 20px auto 35px;
}

.last-section {
  padding-bottom: 30px;
}

.hero-body p {
  margin: 18px 0;
}



