.hero-head {
  background-color: #3298dc;
  border-bottom: 1px solid grey;
}

.title-outside {
  margin-bottom: 50px;
}

.tutors-wrap figure img {
  border-radius: 50%;
}

.loader-wrap-0 {
  width: 100%;
  opacity: 0;
  z-index: -1;
  transition: opacity 1s;
}
.loader-wrap-0.active {
  opacity: 1;
  z-index: 1;
}

.loader {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}



/** from c1.css, todo: remove extra */

.second-title {
  font-size: 20px;
  margin: 20px auto 35px;
}

.last-section {
  padding-bottom: 30px;
}

.hero-body p {
  margin: 18px 0;
}



