
.hero-head {
  background-color: #3298dc;
  border-bottom: 1px solid grey;
}

.nationality {
  margin-bottom: 30px;
}
.nationality .nationality-text {
  border: 1px solid #e6e6fa;
  border-radius: 5px;
  color: #e6e6fa;
  padding: 2px 5px;
}

.hero-body figure {
  margin: 46px auto 40px;
}

figure img.avatar {
  border-radius: 50%;
}

.hero-body .container h2.subtitle {
  color: #f0e68c !important;
}



/* from c1.css */
/* todo: remove extra */



.second-title {
  font-size: 20px;
  margin: 20px auto 35px;
}

.last-section {
  padding-bottom: 30px;
}

.hero-body p {
  margin: 18px 0;
}



