.hero-head {
  background-color: #3298dc;
  border-bottom: 1px solid grey;
}

.hero-body {
  min-height: 300px;
}

.title-outside {
  margin-bottom: 50px;
}

.profile-wrap {
  padding: 10px;
}

.profile-wrap .profile-pane {
  background: #fffaf0;
  border-radius: 8px;
  padding: 20px 0;
}

.profile-wrap a .nationality {
  border: 1px solid #a9a9a9;
  border-radius: 5px;
  color: #a9a9a9;
  font-size: 0.9em;
  padding: 2px 5px;
}

.profile-wrap .name {
  color: #000;
  font-size: 1.1em;
  margin: 18px auto 10px;
}

.profile-wrap figure img {
  border-radius: 50%;
}

.loader-wrap-0 {
  opacity: 0;
  position: absolute;
  transition: opacity 1s;
  width: 100%;
  z-index: -1;
}
.loader-wrap-0.active {
  opacity: 1;
  z-index: 1;
}

.loader {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}






