.navbar-burger {
  color: #fff;
}

#mobileMenuWrap {
  position: absolute;
  right: 0;
}

#mobileMenuWrap li {
  padding: 18px 0;
}

#mobileMenuWrap li a {
  font-size: 18px;
  font-weight: 500;
  padding: 18px 16px;
}

